<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
html {
    position:relative;
    min-height:100%;
}

body {padding:0 0 15px 0;}

#footer {
    bottom: 0; left: 0;
    position: fixed;
    font-weight: bold;
    background-color: #DCDCDC;
    width: 100%;
    border-top: 2px groove;
}
</style>
<head>
  <meta charset="UTF-8">
  <title>ToDo List</title>
  <script src="/js/jquery-3.4.0.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="todo-form">
  <form>
    <h2>Добавление дела</h2>
    <label>Наименование дела:</label>
    <input type="text" name="name" value="">
    <hr>
    <button id="save-todo">Сохранить</button>
  </form>
</div>
<h1>Список дел (<span th:text="${count}"></span>)</h1>
<button id="show-add-todo-form">Добавить дело</button>
<hr>
<button id="clear-todo-list">Очистить список дел</button>
<br><br>
<div id="todo-list">
  <div th:each="todo : ${doings}">
    <h4><span th:text="${todo.id}"></span>.
      <span th:text="${todo.name}"></span>
      <button id="complete-todo" th:attr="value=${todo.id}" th:text="Выполнить">
      </button>
      <button id="delete-todo" th:attr="value=${todo.id}" th:text="Удалить">
      </button>
    </h4>
    Статус:
    <span th:if="${todo.complete}">Выполнено</span>
    <span th:if="!${todo.complete}">Не выполнено</span>

  </div>
</div>
<div id="footer" style="text-align:center" th:text="'Version:' + ${version}">
</div>
</body>
</html>